doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title=title
  link(rel='stylesheet' href='/stylesheets/admin-style.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
  script(src='https://kit.fontawesome.com/a3cf294e88.js' crossorigin='anonymous')

.container
  header
    div
    h4.heading Admin Page
    a.logout-btn(href='/') Logout
  .body-wrapper
    aside
      ul.options-wrapper
        li.options.show--students 
          a(href="/admin/students") Students 
        li.options.show--faculties 
          a(href="/admin/faculties") Faculties
        li.options.show--vendors 
          a(href="/admin/vendors") Vendors
        li.options.add-member 
          a(href="/admin/add-member") Add new member
        li.options.recharge-wallet 
          a(href="/admin/recharge-wallet") Recharge Wallet
    main
      block content
