mixin faculty(faculty)
    
    .item
        .item-wrapper
            .item-no 
            .item-id= faculty.member_id
            .item-name= faculty.member_name
            .item-department= faculty.member_department
    
    