mixin student(student)
    
    .item
        .item-wrapper
            .item-no 
            .item-id= student.member_id
            .item-name= student.member_name
            .item-department= student.member_department
    
    