mixin vendor(vendor)
    
    .item
        .item-wrapper
            .item-no 
            .item-id= vendor.member_id
            .item-name= vendor.member_name
            .item-department= vendor.member_contact
    
    